# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# IDE-specific files (choose the one you use)
# For VS Code:
.vscode/

# For PyCharm:
# .idea/

# Jupyter Notebook
.ipynb_checkpoints/

# UV
#uv.lock

# poetry
#poetry.lock

# pdm
#pdm.lock
# .pdm.toml
# .pdm-python
# .pdm-build/

# Source code
/src_code
/notebooks
/data
/documentations/college-reports
/documentations/Presentations
/documentations/References
/demo
/experimental-results

*.drawio
*.docx